@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    /********* Cores ***********/
    --background-menu: #9e9e91;
    --background-texto1: #8d8a64;
    --background-texto2: #fcfbecef;
    --cor-letra-menu: #5f6070;
    --cor-letra-titulo: #535140;

    /************* Fontes *****************/
    --padrao: Arial, Helvetica, sans-serif;
    --titulo: 'Berkshire Swash', cursive;
    --titulo2:  'Pacifico', cursive;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-family: var(--padrao);
}


body {
    background-image: url('../img/fundo.png');
}

section {
    background-color: var(--background-texto2);
}

h2 {
    font-family: var(--titulo);
    letter-spacing: 1px;
    padding: 10px 20px;
    color: var(--cor-letra-titulo);
}

header {
    width: 100vw;
}

p {
    width: 85%;
    margin: auto;
    text-align: justify;
    font-weight: 600;
    padding: 10px 0px;
    line-height: 1.5em;
}

img {
    width: 100%;
}

/***************** Página Principal ******************/

div#img-principal {
    width: 100vw;
    margin-bottom: -5px;
}

div#img-principal > img#img-capa {
    width: 100%;
}

header > nav {
    background-color: var(--background-menu);
    text-align: center;
}

nav > ul {
    text-decoration: none;
    padding: 15px 0px;
}

nav > ul > li {
    display: inline;
    padding: 5px;
}

.link-menu:link {
    font-size: 0.8em;
    text-decoration: none;
    color: var(--cor-letra-menu);
    font-weight: 600;
}

/*
.link-menu:visited {
    color: rgba(68, 170, 21, 0.164);
}
*/
.link-menu:hover {
    color: gold;
    
}

.link-menu:active {
    color: gold;
}

section#principal {
    background-color: var(--background-texto2);
}

#titulo-home {
    padding: 6vw 0vw 2vw 7vw;
}

p.txt {
    color: var(--background-texto);
}

/**************** Página Biografia ******************/

#titulo-biografia {
    padding: 6vw 0vw 1vw 6vw;
}


/**************** Página de Campanhas Publicitárias*****************/

#titulo-campanha {
    padding: 5vw 0vw 1vw 7vw;
}

.img-campanha {
    border: 10px solid var(--background-menu);
}

.contatos {
    display: block;
    padding: 15px 0px 10px 15px;
}

/************************* Página Contato *************************/

#titulo-contato {
    padding: 5vw 0vw 1vw 7vw;
}


/************************** Rodapé *******************************/

footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

h3 {
    color: #d8cbb3;
    padding: 25px;
}

footer > p {
    font-size: 0.7em;
    text-align: center;
    padding: 0px 0px 35px 0px;
}

footer > p > a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: gold;
}

footer > p > a:hover {
    color: goldenrod;
}




/*************************** Responsividade *****************************/

@media screen and (min-width: 481px) and (max-width:768px) {

    .txt {
        width: 80%;
        padding-bottom: 13.5px;
    }
    
    
    
    /* Página Inicial */
    
    #titulo-home {
        padding: 3vw 0vw 1vw 10vw;
    }

    nav > ul {
        text-decoration: none;
        padding: 23.5px 0px;
    }
    
    nav > ul > li {
        display: inline;
        padding: 1.5vw;
    }

    .link-menu:link {
        font-size: 1.1em;
        font-weight: 600;
    }

    
    
    /* Página Biografia */

    #titulo-biografia {
        padding: 4vw 0vw 1vw 9.3vw;
    }

    
    
    /* Página de Campanhas */

    #titulo-campanha {
        padding: 4vw 0vw;
    }

    #section-campanhas {
        text-align: center;
    }

    img {
        width: 80%;
    }

    /* Página de Contato */

    #section-contato {
        text-align: center;
    }

    #titulo-contato {
        padding: 5vw 0vw 2vw 0vw;
    }
}

@media screen and (min-width: 769px) and (max-width:1279px) {
    

}

@media screen and (min-width: 1280px) {

}