@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    /********* Cores ***********/
    --background-menu: #9e9e91;
    --background-texto1: #8d8a64;
    --background-texto2: #fcfbecef;
    --cor-letra-menu: #5f6070;
    --cor-letra-titulo: #535140;

    /************* Fontes *****************/
    --padrao: Arial, Helvetica, sans-serif;
    --titulo: 'Berkshire Swash', cursive;
    --titulo2: 'Pacifico', cursive;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-family: var(--padrao);
}

html {
    background: var(--background-texto1) url('../img/fundo.png');
}

header {
    width: 100vw;
}

body {
    background: var(--background-texto1) url('../img/fundo.png');
    width: 100vw;
}


section {
    background-color: var(--background-texto2);
}

h2 {
    font-family: var(--titulo);
    letter-spacing: 1px;
    padding: 10px 20px;
    color: var(--cor-letra-titulo);
}



p {
    width: 85%;
    margin: auto;
    text-align: justify;
    font-weight: 600;
    padding: 10px 0px;
    line-height: 1.5em;
}

img {
    width: 100%;
}

/***************** Página Principal ******************/

div#img-principal {
    width: 100vw;
    margin-bottom: -5px;
}

div#img-principal>img#img-capa {
    width: 100%;
}

header>nav {
    background-color: var(--background-menu);
    text-align: center;
}

nav>ul {
    text-decoration: none;
    padding: 15px 0px;
}

nav>ul>li {
    display: inline;
    padding: 5px;
}

.link-menu:link {
    font-size: 0.8em;
    text-decoration: none;
    color: var(--cor-letra-menu);
    font-weight: 600;
}

/*
.link-menu:visited {
    color: rgba(68, 170, 21, 0.164);
}
*/
.link-menu:hover {
    color: gold;

}

.link-menu:active {
    color: gold;
}

section#principal {
    background-color: var(--background-texto2);
}

#titulo-home {
    padding: 6vw 0vw 2vw 7vw;
}

p.txt {
    color: var(--background-texto);
}

/**************** Página Biografia ******************/

#titulo-biografia {
    padding: 6vw 0vw 1vw 6vw;
}


/**************** Página de Campanhas Publicitárias*****************/

#titulo-campanha {
    padding: 5vw 0vw 1vw 7vw;
}

.img-campanha {
    border: 10px solid var(--background-menu);
}

.contatos {
    display: block;
    padding: 15px 0px 10px 15px;
}

/************************* Página Contato *************************/

#titulo-contato {
    padding: 5vw 0vw 1vw 7vw;
}


/************************** Rodapé *******************************/

footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
}

h3 {
    color: #d8cbb3;
    padding: 25px;
}

footer>p {
    font-size: 0.8em;
    text-align: center;
    padding: 0px 0px 35px 0px;
}

footer>p>a {
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: gold;
}

footer>p>a:hover {
    color: goldenrod;
}




/*************************** Responsividade *****************************/

@media screen and (min-width: 481px) and (max-width:768px) {

    .txt {
        width: 80%;
        padding-bottom: 13.5px;
    }



    /* Página Inicial */

    #titulo-home {
        padding: 3vw 0vw 1vw 10vw;
        font-size: 1.8em;
    }

    nav>ul {
        text-decoration: none;
        padding: 23.5px 0px;
    }

    nav>ul>li {
        display: inline;
        padding: 1.5vw;
    }

    .link-menu:link {
        font-size: 1.1em;
        font-weight: 600;
    }



    /* Página Biografia */

    #titulo-biografia {
        padding: 4vw 0vw 1vw 9.3vw;
        font-size: 1.8em;
    }



    /* Página de Campanhas */

    #titulo-campanha {
        padding: 4vw 0vw;
        font-size: 1.8em;
    }

    #section-campanhas {
        text-align: center;
    }

    img {
        width: 80%;
    }

    /* Página de Contato */

    #section-contato {
        text-align: center;
    }

    #titulo-contato {
        padding: 5vw 0vw 2vw 0vw;
        font-size: 1.8em;
    }

    p.txt-contato {
        width: 80%;
        max-width: 950px;
        margin-top: 0px;
    }
}

@media screen and (min-width: 769px) and (max-width:1279px) {
    .txt {
        width: 70%;
        padding-bottom: 13.5px;
    }

    /* Página Inicial */



    #titulo-home {
        padding: 3vw 0vw 1vw 15vw;
        font-size: 2em;
    }

    nav>ul {
        text-decoration: none;
        padding: 3vw 0px;
    }

    nav>ul>li {
        display: inline;
        padding: 1.1vw;
    }

    .link-menu:link {
        font-size: 1.2em;
        font-weight: 600;
    }

    /* Página Biografia */

    #titulo-biografia {
        padding: 4vw 0vw 1vw 14vw;
        font-size: 2em;
    }

    /* Página de Campanhas */

    #titulo-campanha {
        padding: 3vw 0vw 1vw 0vw;
        font-size: 2em;
    }

    #section-campanhas {
        text-align: center;
    }

    img {
        width: 75%;
    }

    /* Página de Contato */

    #section-contato {
        text-align: center;
    }

    #titulo-contato {
        padding: 5vw 0vw 2vw 0vw;
        font-size: 2em;
    }

    p.txt-contato {
        width: 70%;
    }

}

@media screen and (min-width: 1280px) {

    header {
        width: 100%;
    }

    body {
        background-image: url('../img/fundo.png');
        width: 100%;
    }

    p.txt {
        width: 50%;
        max-width: 950px;
        font-size: 1.2em;
        margin-top: 20px;
    }

    /***************** Página Principal ******************/

    div#img-principal {
        width: 100;
        margin-bottom: -4px;
        text-align: center;
    }

    div#img-principal>img#img-capa {
        width: 55%;
        max-width: 1020px;
    }

    header>nav {
        background-color: var(--background-menu);
        text-align: center;
    }

    nav>ul {
        text-decoration: none;
        padding: 20px 0px;
    }

    nav>ul>li {
        display: inline;
        padding: 1vw;
    }

    .link-menu:link {
        font-size: 1.2em;
    }

    #titulo-home {
        padding: 40px 0px 5px 0px;
        font-size: 2.3em;
        text-align: center;
    }


    /* Página Biografia */

    #titulo-biografia {
        padding: 40px 0px 5px 0px;
        font-size: 2.3em;
        text-align: center;
    }

    /* Página de Campanhas */

    #titulo-campanha {
        padding: 40px 0px 5px 0px;
        font-size: 2.3em;
    }

    #section-campanhas {
        text-align: center;
    }

    img.img-campanha {
        width: 53%;
        margin-left: 8px;
        max-width: 1020px;
        box-shadow: 1px 1px 5px var(--background-texto1);
    }


    /* Página de Contato */

    #section-contato {
        text-align: center;
    }

    #titulo-contato {
        padding: 40px 0px 5px 0px;
        font-size: 2.3em;
    }

    p.txt-contato {
        width: 50%;
        max-width: 950px;
        font-size: 1.2em;
        margin-top: 0px;
    }

    img.img-contato {
        width: 53%;
        margin-left: 25px;
        max-width: 1020px;
        box-shadow: 5px 5px 8px 1px var(--background-menu);
    }

}