/* Configurações globais */

@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #EFEFEF;
}

header {
    background-color: #0be0e0;
    padding: 20px;
    
}

h1 {
    margin: 2px 0px 15px 0px;
}

p {
    text-align: justify;
    font-size: 1em;
    line-height: 1.5em;
}

section {
    width: 99vw;
    
}

hr {
    width: 57vw;
    margin: auto;
}

header > nav {
    text-align: right;
    display: flex;
    float: right;
    margin-top: 5px;
}

nav > ul {
    list-style-type: none;
    padding: 0.8vw;
}

nav > ul > li{
    display: inline;
}

nav > ul > li > a {
    text-decoration: none;
    font-size: 3vw;
    font-weight: 600;
    color: #383F5D;
}

nav > ul > li > a:hover {
    color: goldenrod;
}

header > a > img {
    width: 30vw; 
    display: inline-block;
    margin-left: 3vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}


/* Página principal */


section#principal > div#img-principal {
    display: block;
    text-align: center;
}

div#img-principal > img {
    width: 100vw;
}

section#principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#principal > div#txt-principal {
    padding: 1vw;
    width: 90%;
}


div#txt-principal > h1 {
    color:#383F5D;
    text-align: center;
}
p.txt {
    padding: 12px;
    text-align: justify;
    
}

div#txt-principal > p.txt > span {
    font-weight: bold;
}


/* Página Quem Somos*/


section#quem-somos {
    margin-top: 0px;
    width: 100%;
}

h1.titulo-quem-somos{
    padding: 15px 0px 0px 10px;
}
section#quem-somos > div.txt-quem-somos {
    width: 95%;
    margin: auto;
}

hr {
    width: 78%;
}

ol#lista-motivos {
    margin: 25px 0px 20px 40px;
    line-height: 1.5em;
}

section#quem-somos > div#txt-objetivos {
    margin-bottom: 11.5vw;
}

/* Página de contato */

section#contato {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formulario {
    width: 95%;
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    background-color: #2e4e59;
    border: none;
}

form {
    width: 100%;
}

h1#titulo-contato {
    color: #dcdcdc;
    text-align: center;
}

fieldset {
    border-radius: 15px;
    margin: 5px;
}

legend {
    color: rgb(212, 212, 212);
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}

label {
    display: block;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    color: rgb(217, 215, 215);
}

#lbl-email, #lbl-assunto, #lbl-descricao {
    margin-top: 30px;
}

#lbl-assunto{
    display: inline-block;
    margin: 70px 8px;
}

input {
    width: 97%;
    height: 45px;
    margin: 0px 5px;
    border-radius: 10px;
    border: none;
    outline: unset;
    background-color: #cacaca;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.202);
}

select {
    margin: 0px 0px 0px 0px;
    width: 45%;
    height: 45px;
    margin: 5px 0px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #cacaca;
}

div#descricao {
    display: block;
}

textarea {
    width: 95%;
    margin: 18px;
    border-radius: 10px;
    border: none;
    outline: unset;
    background-color: #cacaca;
    
}

input:focus, textarea:focus, select:focus {
    background-color: #ffffff;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.202);
}

div#group-btn {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

input[type=reset], input[type=submit] {
    width: 40%;
    height: 65px;
    cursor: pointer;
}

input[type=reset] {
    background-color: rgb(189, 6, 6);
    color: white;
    font-size: 1.2em;
}

input[type=submit] {
    background-color: #04caca;
    color: black;
    font-size: 1.2em;
}

/* Footer */

footer {
    background-color: black;
    margin: 9px 0px 0px 0px;
    padding: 20px;
}

footer > div {
    text-align: center;
}

footer > div > span {
    color: white;
    padding: 20px;
    font-size: 0.7em;
    font-weight: 700;
}

footer > div > img {
    width: 35vw;
    display: block;
    margin: auto;
    padding: 10px;
}


@media screen and (min-width:481px) and (max-width:768px) {
    /* Cabeçalho */
    header > a > img {
        width: 20vw;
    }

    nav > ul > li > a {
        font-size: 1.1em;
    }


    /* Página Principal */
    /* Página Quem Somos */
    section#quem-somos > div.txt-quem-somos {
        width: 80%;
        margin: auto;
    }

    /* Página Contato */
    div#formulario{
        margin: 30px 0px 20px 0px;
        width: 80%
    }

    textarea#idescricao {
        margin: ;    
    }

    label{
        display: inline;
    }

    #lbl-assunto {
        margin: 45px 0px 85px 10px;
    }

    select {
        width: 35%;
    }
    input {
        width: 85%;
    }

    #inome{
        margin: 20px 8px;
    }

    textarea {
        width: 90%;
        display: block;
        margin: 20px auto 20px 30px;
    }

    input[type=reset], input[type=submit] {
        width: 20%;

    }


    /* Rodapé */
    footer {
        margin-top: 10px;
    }

    footer > div > span {
        color: white;
        padding: 20px;
        font-size: 0.9em;
        font-weight: 700;
    }

    footer > div > img {
        width: 20vw;
        display: block;
        margin: auto;
        padding: 10px;
    }
}

@media screen and (min-width:769px) and (max-width:1023px) {
    
    /* Cabeçalho */
    header > a > img {
        width: 20vw;
    }

    nav > ul > li > a {
        font-size: 1.1em;
    }


    /* Página Principal */

    div#img-principal > img {
        width: 100vw;
    }

    section#principal > div#txt-principal {
        padding: 10px 20px 3px 20px;
        width: 90%;
    }



     /* Página Quem Somos */
     section#quem-somos > div.txt-quem-somos {
        width: 80%;
        margin: auto;
    }



    /* Página Contato */
    div#formulario{
        margin: 30px 0px 20px 0px;
    }

    textarea#idescricao {
        margin: ;    
    }

    label{
        display: inline;
    }

    #lbl-assunto {
        margin: 45px 0px 85px 10px;
    }

    select {
        width: 35%;
    }
    input {
        width: 85%;
    }

    #inome{
        margin: 20px 8px;
    }

    textarea {
        width: 85%;
        display: block;
        margin: 20px auto 20px 80px;
    }

    input[type=reset], input[type=submit] {
        width: 20%;

    }


    /* Rodapé */
    footer {
        margin-top: 10px;
    }

    footer > div > span {
        color: white;
        padding: 20px;
        font-size: 0.9em;
        font-weight: 700;
    }

    footer > div > img {
        width: 20vw;
        display: block;
        margin: auto;
        padding: 10px;
    }
}


@media screen and (min-width:1024px) and (max-width:1279px) {
    /* Cabeçalho */
    header > a > img {
        width: 17vw;
    }

    nav > ul > li > a {
        font-size: 1.3em;
    }


    /* Página Principal */
    div#img-principal > img {
        width: 70vw;
    }

    section#principal > div#txt-principal {
        padding: 10px 20px 3px 20px;
        width: 70%;
    }
    /* Página Quem Somos */
    section#quem-somos > div.txt-quem-somos {
        width: 70%;
        margin: auto;
    }
    hr {
        width: 68%;
    }


    /* Página Contato */
    div#formulario{
        width: 60%;
        margin: 30px 0px 20px 0px;
    }

    textarea#idescricao {
        margin: ;    
    }

    label{
        display: inline;
    }

    #lbl-assunto {
        margin: 45px 0px 85px 10px;
    }

    select {
        width: 20%;
    }
    input {
        width: 85%;
    }

    #inome{
        margin: 20px 8px;
    }

    textarea {
        width: 90%;
        display: block;
        margin: 20px auto 20px 40px;
    }

    input[type=reset], input[type=submit] {
        width: 20%;

    }


    /* Rodapé */
    footer {
        margin-top: 10px;
    }

    footer > div > span {
        color: white;
        padding: 20px;
        font-size: 0.9em;
        font-weight: 700;
    }

    footer > div > img {
        width: 15vw;
        display: block;
        margin: auto;
        padding: 10px;
    }
}

@media screen and (min-width:1280px) {
    /* Cabeçalho */
    /* Página Principal */
    /* Página Quem Somos */
    /* Página Contato */
    /* Rodapé */
}