/* Configurações globais */

@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #EFEFEF;
}

header {
    background-color: #0be0e0;
    padding: 20px;
    
}

h1 {
    margin: 2px 0px 15px 0px;
}

p {
    text-align: justify;
    font-size: 1em;
}

section {
    width: 99vw;
    
}

hr {
    width: 57vw;
    margin: auto;
}

header > nav {
    text-align: right;
    display: flex;
    float: right;
}

nav > ul {
    list-style-type: none;
    padding: 1vw;
}

nav > ul > li{
    display: inline;
}

nav > ul > li > a {
    text-decoration: none;
    padding: 12px;
    font-size: 1.2vw;
    font-weight: 600;
    color: #383F5D;
}

header > img {
    width: 10vw;
    display: inline-block;
    margin-left: 18vw;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* Página principal */


section#principal > div#img-principal {
    display: block;
    text-align: center;
}

div#img-principal > img {
    width: 55vw;
}

section#principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section#principal > div#txt-principal {
    padding: 1vw;
    width: 57vw;
}


div#txt-principal > h1 {
    color:#383F5D;
}
p.txt {
    padding: 12px;
    text-align: justify;
    
}

div#txt-principal > p.txt > span {
    font-weight: bold;
}


/* Página Quem Somos*/


section#quem-somos {
    margin-top: 30px;
}

section#quem-somos > div {
    width: 57vw;
    margin: auto;
}

#lista-motivos > ol {
    margin: 25px 0px 20px 40px;

}

section#quem-somos > div#txt-objetivos {
    margin-bottom: 11.5vw;
}

/* Página de contato */

section#contato {
    text-align: center;
}

label {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

.lb-descricao {
    margin: 0px 0px 0px 20px;
    padding: 4px;
}

input {
    width: 33vw;
    height: 4vh;
    margin: 15px 0 15px 15px;
    border-radius: 5px;
}

input[type=button] {
    width: 30%;
    height: 3vw;
    cursor: pointer;

}

select {
    width: 10vw;
    height: 4vh;
    margin: 15px 3px;
    border-radius: 5px;
}

textarea {
    width: 33vw;
    margin-left: 5px;
    border-radius: 5px;
}

#formulario {
    width: 40%;
    height: 70.5vh;
    margin: 30px auto;
   
}

fieldset {
    border-radius: 0px 15px 15px 0px;
}

legend {
    text-align: left;
    margin-left: 15px;
}

div#assunto{
    text-align: left;
    margin: 10px 0px 20px 20px;
}

div#descricao {
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Footer */

footer {
    background-color: black;
    padding: 20px;
}

footer > div {
    text-align: center;
}

footer > div > span {
    color: white;
    padding: 20px;
    font-weight: 700;
}

footer > div > img {
    width: 10vw;
    display: block;
    margin: auto;
    padding: 10px;
}