@charset "UTF-8";

:root {
/********* Fontes ********/



/********* Cores *********/
--fundo-cabecalho-titulos: #F7B602;
--fundo-body: #E6E6E6;
--fundo-categorias-rodape: #CCCCCC;
--titulo-categorias: #565661;
--cor-logo: #4E4E4E;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

body {
    background-color: var(--fundo-body);
}

/******** Página Inicial *****************************************************************************************/


header {
    background-color: var(--fundo-cabecalho-titulos);
    height: 15vh;
    text-align: center;
}

div#logo {
    text-align: center;
    padding: 19px 0px 10px 0px;
    font-weight: bolder;
    color: white;
}

#inicio-logo {
    color: var(--cor-logo);
}

nav > li {
    display: inline;
}

nav > li > a {
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    padding: 5px;
}

nav > li > a:link {
    color: white;
    font-weight: 600;
}

nav > li > a:visited {
    color: var(--cor-logo);
}

nav > li > a:hover {
    color: var(--cor-logo);
}

#section-postagens {
    display: block;
}

.postagem {
    width: 55%;
    margin: 5px 0px 10px 10px;
    padding: 10px;
    background-color: white;
    float: left;

}

h2 {
    color: var(--fundo-cabecalho-titulos);
    font-size: 1em;
}

.data-postagem {
    font-size: 0.6em;
}

.img-postagem {
    width: 100%;
}

p {
    font-size: 0.8em;
    text-align: justify;
}

.txt-laterais {
    background-color: white;
    width: 32%;
    float: right;
    margin: 5px 10px 5px 5px;
}

h5 {
    background-color: rgb(197, 191, 191);
    font-size: 0.7em;
    margin: 5px;
    padding: 3px;
    font-weight: 800;
}
